@font-face {
  font-family: 'klavika_mediumplain';
  src: url('/fonts/klavika_medium_plain-webfont.woff2') format('woff2'),
  url('/fonts/klavika_medium_plain-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadpro_semibold';
  src: url('/fonts/myriadpro_semibold.otf');
}

@font-face {
  font-family: 'webfontregular';
  src: url('/fonts/zurich-condensed-bt-58bd57c7ef3b1-webfont.woff2') format('woff2'),
  url('/fonts/zurich-condensed-bt-58bd57c7ef3b1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}