article {
  /*width: calc(100% - 250px);*/
  width: 740px;
  padding: 18px;
  background-color: white;
  float: left;
  border-radius: 4px 0 0 4px;
}
.article_photographer_wrapper {
  width: 100%;
  margin: 0 0 0 0;
}
.article_photographer {
  width: 65%;
  float: left;
  margin-right: 30px;
}
.article_photographer > p {
  margin-bottom: 0;
}
.article_photographer_h2 {
  font-family: 'webfontregular', sans-serif;
  text-transform: uppercase;
}
.article_photographer_img {
  position: relative;
  top: -13px;
  z-index: 100;
}

.tabs {
  position: relative;
  top: -13px;
}
/*table--------------------*/
.long {
  width: 30%;
  vertical-align: top;
}
.small {
  width: 5%;
}
/*images article content-----------------*/
#first .article_content_img {
  border-radius: 5px;
  box-shadow: 0 0 0 5px #e8e5de;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/*tab articl-----------------------*/
.first {
  background: url(/images/tab_990/tab_1.png) no-repeat;
  width: 234px;  height: 45px;
  float: left;  cursor: pointer;
}
.second {
  background: url(/images/tab_990/tab_2.png) no-repeat;
  width: 235px;  height: 45px;
  float: left;  cursor: pointer;
}
.third {
  background: url(/images/tab_990/tab_3.png) no-repeat;
  width: 235px;  height: 45px;
  float: left;  cursor: pointer;
}

.first:hover,
.second:hover,
.third:hover {
  background-position: 0 -45px;
}

ul.tabNavigation {
  display:table;
  width:100%;
  height: 40px;
  table-layout:fixed;
}

ul.tabNavigation li {
  display:table-cell;
}

div.tabs div {
  margin-top: 30px;
}

/*---respons ----------------------------------------------*/
@media screen and (min-width:200px) and (max-width:600px) {
  article {width: 398px;}
  .article_photographer_img {display: none;}
  .article_photographer {width: 100%; margin-bottom: 20px;}
  .first {width: 120px; height: 35px; background: url(/images/tab_400/tab_1.png) no-repeat;}
  .second {width: 121px; height: 35px; background: url(/images/tab_400/tab_2.png) no-repeat;}
  .third {width: 121px; height: 35px; background: url(/images/tab_400/tab_3.png) no-repeat;}
  .first:hover, .second:hover, .third:hover {background-position: 0 -35px;}
}
@media screen and (min-width:600px) and (max-width:800px) {
  article {width: 496px;}
  .article_photographer {width: 100%; margin-bottom: 20px;}
  .article_photographer_img {display: none;}
  .first {width: 153px; background: url(/images/tab_600/tab_1.png) no-repeat;}
  .second {width: 153px; background: url(/images/tab_600/tab_2.png) no-repeat;}
  .third {width: 154px; background: url(/images/tab_600/tab_3.png) no-repeat;}
}
@media screen and (min-width:800px) and (max-width:900px) {
  article {width: 596px;}
  .article_photographer {margin-right: 5px; margin-bottom: 20px;}
  .article_photographer_img {width: 190px;}
  .first {width: 186px; background: url(/images/tab_800/tab_1.png) no-repeat;}
  .second {width: 187px; background: url(/images/tab_800/tab_2.png) no-repeat;}
  .third {width: 187px; background: url(/images/tab_800/tab_3.png) no-repeat;}
}