article {
  /*width: calc(100% - 250px);*/
  width: 740px;
  padding: 18px;
  background-color: white;
  float: left;
  border-radius: 4px 0 0 4px;
}
.article_photographer_wrapper {
  width: 100%;
  margin: 0 0 0 0;
}
.article_photographer {
  width: 65%;
  float: left;
  margin-right: 30px;
}
.article_photographer > p {
  margin-bottom: 0;
}
.article_photographer_h2 {
  font-family: 'webfontregular', sans-serif;
  text-transform: uppercase;
}
.article_photographer_img {
  position: relative;
  top: -13px;
  z-index: 100;
}

.tabs {
  position: relative;
  top: -13px;
}
/*table--------------------*/
.long {
  width: 30%;
  vertical-align: top;
}
.small {
  width: 5%;
}
/*images article content-----------------*/
#first .article_content_img {
  border-radius: 5px;
  box-shadow: 0 0 0 5px #e8e5de;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/*tab articl-----------------------*/
ul.tabNavigation {
  display:table;
  width:100%;
  height: 40px;
  table-layout:fixed;
  line-height: 40px;
}

ul.tabNavigation li {
  display:table-cell;
  background: linear-gradient(#ffffff, #f4f3f1);
  text-align:center;
  border:1px solid silver;
}

ul.tabNavigation li .first,
ul.tabNavigation li .second,
ul.tabNavigation li .third {
  text-decoration: none;
  color: #444137;
  font-family: 'webfontregular', sans-serif;
  font-size: 18px;
}
.first {
  padding: 10px 28.55%;
}
.second {
  padding: 10px 33.64%;
}
.third {
  padding: 10px 31.1%;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
  background: linear-gradient(#66c23d, #0e9421);
  color: white;
  font-family: 'webfontregular', sans-serif;
  text-shadow: 0px -2px 2px rgba(0, 0, 0, .3);
}

div.tabs div {
  margin-top: 30px;
}

/*---respons ----------------------------------------------*/
@media screen and (min-width:200px) and (max-width:600px) {
  article {width: 398px;}
  .article_photographer_img {display: none;}
  .article_photographer {width: 100%; margin-bottom: 20px;}
  .first {padding: 10px 9px;}
  .second {padding: 10px 21px;}
  .third {padding: 10px 15px;}
}
@media screen and (min-width:600px) and (max-width:800px) {
  article {width: 496px;}
  .article_photographer {width: 100%; margin-bottom: 20px;}
  .article_photographer_img {display: none;}
  .first {padding: 10px 25px;}
  .second {padding: 10px 35px;}
  .third {padding: 10px 30px;}
}
@media screen and (min-width:800px) and (max-width:900px) {
  article {width: 596px;}
  .article_photographer {margin-right: 5px; margin-bottom: 20px;}
  .article_photographer_img {width: 190px;}
  .first {padding: 10px 42px;}
  .second {padding: 10px 54px;}
  .third {padding: 10px 48px;}
}